[submodule "3rdparty/veldrid"]
	path = 3rdparty/veldrid
	url = https://github.com/CeSun/veldrid
[submodule "3rdparty/veldrid-spirv"]
	path = 3rdparty/veldrid-spirv
	url = https://github.com/CeSun/veldrid-spirv
